body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

button {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#red {
  background-color: red;
}
#purple {
  background-color: purple;
}
#green {
  background-color: green;
}
#orange {
  background-color: orange;
}
#blue {
  background-color: blue;
}
