body {
  margin: 0;
  padding: 0;
  background-color: rgb(1, 1, 8);
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: Arial, sans-serif;
  /* padding: 30px; */
}

.form-container {
  height: 70%;
  width: 30%;
  border: 2px solid #333;
  background-color: rgb(5, 5, 22);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 12px;
}

label {
  margin-top: 10px;
  font-size: 14px;
}

input[type="text"],
input[type="number"] {
  height: 35px;
  margin-top: 6px;
  padding: 5px 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background: #222;
  color: white;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border: 1px solid aqua;
}

button {
  height: 40px;
  margin-top: 20px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00cccc;
}
