body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  margin-top: 10px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.question {
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: 500;
}

button {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00cccc;
  transform: scale(1.05);
}

button[type="reset"] {
  background-color: #333;
  color: #fff;
}